body{
    text-align: center;
    background-color: rgb(234, 156, 229);
}

img{
    width: 600px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
a{
    color: rgb(85,26,139);
}